//- layout.pug
doctype html
html
  head
    title Abhijeet indwar
    block scripts
    block style
  body
    nav#navbar
          ul
             li #[a(href="/" )  Home]
             li #[a(href="/")  Services]
             li  #[a(href="/") Class info]
             li #[a(href="/contact" ) Contact us]
             li #[a(href="/" ) About us]
    
    block content        
    footer#footer
        | Copyright © 2019 HarryAcademy.com | All Rights Reserved 