@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Yeon Sung', cursive;
}

#navbar{
    background-color: #d43b3b;
    
    padding: 13px, 14px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
     justify-content: center;
    align-items: center;

}
#navbar li{
    
    list-style: none;
}
#navbar li a{ 
    font-size: 27px;
   text-decoration: none;
    padding: 13px 20px;
    color: aliceblue;
}
#navbar li a:hover{
    color: black;  
}
.card h3{
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
}




#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 65px;
    align-items: center;
    background: center/cover no-repeat url("/static/bg.jpg") ;
    height: 425px;
    background-color: red;
}
#introSection div.small{
    font-size: 52px;
    padding: 5px;
}
#sponsorsSection{
    height: 300px;
    /* display: inline-block; */
    background-color: #fbd6d6c7;
}
#missionSection h2{
 
    text-align: center;
    padding-top: 13px;
}
#missionSection{
    height: 300px;
    margin: auto;
    background-color: #f3eaea;
}
.card h3{
    text-align: center;
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 20px 24px;
    height: 209px;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    
    height: 128px;
    padding: 3px 20px;
    margin: 5px 7px;
}
.card-img img{
    height: inherit;
    width: 100px; 
}

#sponsorsSection h2{
 
    text-align: center;
    padding-top: 13px;
}
#sponsors{
    height: 150px;
    max-width: 1000px;
    margin: auto;
    /* display: flexbox; */
}

.spImage{
    height: 80%;
    margin: 40px;
}

   
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 68px;
    color: #f3eaea;
}
